{% extends "/templates/base.html" %}

{% block title %}Manage Alerts{% endblock %}

{%block style%}
{%endblock%}

{% block content %}
    <div class="outerrr">
        <a href="/admin/users_csv" class="btn">Download Data</a>
        {% for user in users %}
        <div class="row-fluid">
            <h3>{{user.name}}</h3>
            <p>{{user.email}}</p>
            <table>
                {% for cam in user.cams %}
                    <thead>
                        <th>Camera ID</th>
                        <th>Camera Name</th>
                    </thead>
                    <tr>
                        <td>{{ cam.camera_id }}</td>
                        <td>{{ cam.camera_name }}</td>
                    </tr>
                {% endfor %}
            </table>
            
        </div>
        {%else%}
        <div class="alert alert-info">No photos have been uploaded from this camera.</div>
        {% endfor %}
    </div>
{% endblock %}

{%block script%}
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".sidebar-nav").addClass("hidden")
    });
</script>
{%endblock%}