{% extends "/templates/base.html" %}

{% block title %}Change Password{% endblock %}

{%block style%}
<style type="text/css">
	#linkform{
		text-align: center;
	}
	
	input{
		width: 300px;
		display: block;
	}
	
	#btngo{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 200px;
	}
	
	.smaller{
		font-size: 12pt;
	}
	
</style>
{%endblock%}

{% block content %}
	{%if error%}
	<div class="alert alert-danger">{{error}}</div>
	{%endif%}
	{%if success%}
	<div class="alert alert-success">{{success}}</div>
	{%endif%}
	<div id="linkform" class="span6 well">
		<form method="post" action="/password">
			<p class="lead">Change your password</p>
			<p class="lead smaller">Enter your current password:</p>
			<input type="password" name="oldpw" placeholder="Current Password" value="{{oldpw}}">
			<p class="lead smaller">Enter your new password:</p>
			<input type="password" name="pw1" placeholder="New Password" value="{{pw1}}">
			<input type="password" name="pw2" placeholder="Repeat New Password" value="{{pw2}}">
			<input id="btngo" type="submit" class="btn btn-success btn-large" value="Change Password">
		</form>
	</div>
{% endblock %}

{%block script%}
<script type="text/javascript">
	$(document).ready(function(){
		$(".sidebar-nav").removeClass("active")
		$("#changepassword").addClass("active")
	});
</script>
{%endblock%}